@import "../../../_variable";

.leftSection {
  width: $widthLeftSection;
  height: 100vh;
  animation: animate $durationLeftSection linear $delayLeftSection forwards;
  display: block;
  box-sizing: border-box;
}

@keyframes animate {
  100% {
    background: $backgroundColor;
    border-top: 0 solid $welcomeColorSecond;
    transform: translate(0, 0);
    border-right: 2px solid $borderColor;
  }
  98% {
    border-top: 1.6vh solid $welcomeColorSecond;
    transform: translate(0, 2%);
  }
  96% {
    border-top: 3.2vh solid $welcomeColorSecond;
    transform: translate(0, 4%);
  }
  94% {
    border-top: 4.8vh solid $welcomeColorSecond;
    transform: translate(0, 6%);
  }
  92% {
    border-top: 6.4vh solid $welcomeColorSecond;
    transform: translate(0, 8%);
  }
  90% {
    border-top: 8vh solid $welcomeColorSecond;
    transform: translate(0, 10%);
  }
  80% {
    border-top: 16vh solid $welcomeColorSecond;
    transform: translate(0, 20%);
  }
  70% {
    border-top: 24vh solid $welcomeColorSecond;
    transform: translate(0, 30%);
  }
  60% {
    border-top: 32vh solid $welcomeColorSecond;
    transform: translate(0, 40%);
  }
  50% {
    border-top: 40vh solid $welcomeColorSecond;
    transform: translate(0, 50%);
  }
  40% {
    background: $welcomeColorFirst;
    border-top: 48vh solid $welcomeColorSecond;
    transform: translate(0, 60%);
  }
  30% {
    background: $welcomeColorFirst;
    border-top: 56vh solid $welcomeColorSecond;
    transform: translate(0, 70%);
  }
  20% {
    background: $welcomeColorFirst;
    border-top: 64vh solid $welcomeColorSecond;
    transform: translate(0, 80%);
  }
  10% {
    background: $welcomeColorFirst;
    border-top: 72vh solid $welcomeColorSecond;
    transform: translate(0, 90%);
  }
  8% {
    background: $welcomeColorFirst;
    border-top: 73.6vh solid $welcomeColorSecond;
    transform: translate(0, 92%);
  }
  6% {
    background: $welcomeColorFirst;
    border-top: 75.2vh solid $welcomeColorSecond;
    transform: translate(0, 94%);
  }
  4% {
    background: $welcomeColorFirst;
    border-top: 76.8vh solid $welcomeColorSecond;
    transform: translate(0, 96%);
  }
  2% {
    background: $welcomeColorFirst;
    border-top: 78.4vh solid $welcomeColorSecond;
    transform: translate(0, 98%);
  }
  0% {
    background: $welcomeColorFirst;
    border-top: 80vh solid $welcomeColorSecond;
    transform: translate(0, 100%);
    border-right: 0 solid $borderColor;

  }
}
