@import "../../_variable";


.welcome{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 100vh;
  color: white;
  font-size: 5rem;
  letter-spacing: 5px;
  z-index: $zIndexWelcome;
  animation: animate linear $durationWelcomeAnimate forwards;

  & span{
    font-size: 1rem;
  }
}

@keyframes animate {
  0%,49.9%{
    background: $welcomeColorFirst;
  }
  50%,99.9%{
    background: $welcomeColorSecond;
  }
}
