//Colors
$welcomeColorFirst: #ff5733;
$welcomeColorSecond: #333;
$backgroundColor: #f0f0f0;
$borderColor: #e5e5e5;
$textColor: #b8b8b8;

//Width
$widthLeftSection: 5%;
$widthCenterSection: 20%;
$widthRightSection: 100% - ($widthCenterSection + $widthLeftSection);

//Delay animations
$delayLeftSection: 2.95s;
$delayCenterSection: 3.75s;
$delayRightSection: 3.15s;

//Duration animations
$durationWelcomeAnimate: 3s;
$durationCenterSection: 2s;
$durationRightSection: $durationCenterSection - ($delayRightSection - $delayCenterSection);
$durationLeftSection: $durationCenterSection - ($delayLeftSection - $delayCenterSection);

//zIndex
$zIndexWelcome: 700;
$zIndexSections: 500;


